<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ctrl Usuarios</title>
    <link rel="stylesheet" href="/styles/admin/usuarios/usuarios_style.css">
    <script src="/js/admin/loadBtn.js"></script>
</head>

<body>
    <header>
        <h1>TomoList</h1>
        <p><a onclick="javascript:document.getElementById('formLogout').submit()">Cerrar sesion</a></p>
    </header>
    <h2>Usuarios<br/><span id="infoT">Icono - Username - Nombre - Email - Rol</span></h2>
    <footer>
        <h3><a href="/admin">TomoList CP</a></h3>
    </footer>
    <div class="btn btn-ins"><a th:href="@{/admin/newAdmin/}">Insertar usuario ADMIN</a></div>
    <div id="container" th:each="usu: ${usuarios}">
        <input type="hidden" th:value="${usu.idusuario}" />
        <div class="row">
            <div class="info">
                <div class="imagen">
                    <div>
                        <img class="icono" th:src="@{${usu.foto} ? ${usu.foto} : @{images/fotoex.jpg}}" alt="No hay imagen" />
                    </div>
                </div>
                <div th:text="${usu.username}">1ai_13</div>
                <div th:text="${usu.nombre}">Unai Gonzalez</div>
                <div th:text="${usu.email}">unaigsanchez@gmail.com</div>
                <div th:text="${usu.rol.nombre}">2020/13/13</div>
            </div>
            <div class="botones">
                <button class="btn btn-mod"><a th:href="@{/admin/usuarios/update/{id}(id=${usu.idusuario})}">Modificar</a></button>
                <button class="btn btn-del">Borrar</button>

            </div>

        </div>
    </div>
    <footer>
        <h3><a href="/admin">TomoList CP</a></h3>
    </footer>
    <form id="formLogout" method="post" th:action="@{/logout}"></form>
</body>

</html>