<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>LogIn Tomolist</title>
<link rel="stylesheet" href="/styles/app/login_register.css">
<link rel="icon" th:href="@{/images/LogoTomo.png}" type="image/x-icon">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	
</head>

<body>

	<header class="container-fluid bg-gradient shadow-sm">
		<div class="row d-flex align-items-center position-relative ">
			<div class="position-absolute top-25 start-0">
				<img th:src="@{/images/LogoTomo.png}" height="75vh">
			</div>
			<h1 class="display-1 col-12 py-3 text-center text-light">TomoList</h1>
		</div>
	</header>




	<div id="formulario" class="container mt-4 shadow bg-light">
		<div class="row justify-content-center text-center py-3">
			<h3 class="display-6">Credenciales de acceso:</h3>
		</div>
		<div class="row align-items-center justify-content-center" th:if="${param.registro != null}">
		<div class="col-9 alert alert-success alert-dismissible d-flex align-items-center" role="alert">
			<i class="bi bi-check-circle-fill d-flex flex-shrink-0 me-2" role="img"></i>
			<div th:text="${msgRegistro}"></div>
			 <button type="button" class="btn-close d-flex align-items-center my-auto" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</div>
		<div class="row align-items-center justify-content-center" th:if="${param.logout != null}">
		<div class="alert alert-success alert-dismissible col-9 d-flex  align-items-center" role="alert">
			<i class="bi bi-check-circle-fill d-flex flex-shrink-0 me-2" role="img"></i>
			<div>Logout de cuenta exitoso</div>
			 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</div>
		<div class="row align-items-center justify-content-center" th:if="${param.error != null}">
		<div class="alert alert-danger alert-dismissible col-9 d-flex  align-items-center" role="alert">
			<i class="bi bi-exclamation-triangle-fill d-flex flex-shrink-0  me-2" role="img"></i>
			<div>Error verificando Nickname y/o Contraseña</div>
			 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		</div>
		

		<div class="row justify-content-center">
			<form class="form-floating col-9 col-md-6 col-lg-4 my-3" method="post" th:action="@{/login}">
				<div class="form-floating mb-3">
					<input type="text" name="username" class="form-control" id="floatingInput"
						placeholder="name@example.com" autofocus> <label for="floatingInput">Nickname</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="password" class="form-control" id="floatingPassword"
						placeholder="Password"> <label for="floatingPassword">Password</label>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-outline-success text-end">Log
						In</button>
				</div>
				
			</form>
		</div>
		<div class="row justify-content-center">
			<div id="register" class="h5 col-10 text-center py-3">
				¿Aún no tienes cuenta?, <a th:href="@{/register}" class="link-primary">Registrate
					aqui!</a>
			</div>
		</div>
	</div>

	

</body>

</html>