<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<title>Tomo Friends</title>
<link rel="icon" th:href="@{/images/LogoTomo.png}" type="image/x-icon">
<link rel="stylesheet" href="/styles/app/amigos.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/app/amigos.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
	<header class="container-fluid bg-gradient shadow-sm">
		<div
			class="d-flex row align-items-center  justify-content-between py-4">

			<div class="d-flex col-4 col-md-3 col-lg-2 ps-1 align-items-center">
				<div class="img">
					<a th:href="@{/app/home}"><img id="logo"
						th:src="@{/images/LogoTomoList.png}" height="50px" width="105px"
						alt="img-thumbnail"></a>
				</div>

			</div>


			<div
				class="btn-group col-8 col-sm-5 col-md-4 col-lg-3 col-xxl-2 order-md-2 gap-1">
				<div id="card-header"
					class="d-flex me-1 float-end justify-content-end">
					<img id="img_header" class="border rounded-circle"
						th:if="${#strings.contains(usuario.foto,'jpg') or #strings.contains(usuario.foto,'png') or #strings.contains(usuario.foto,'jpeg')}"
						th:src="${usuario.foto}"> <img id="img_header"
						class="border rounded-circle"
						th:unless="${#strings.contains(usuario.foto,'jpg') or #strings.contains(usuario.foto,'png') or #strings.contains(usuario.foto,'jpeg')}"
						th:src="@{/images/fotoex.jpg}">
				</div>
				<button id="btn_header" type="button"
					class="btn btn-pimary border border-1 rounded text-light dropdown-toggle"
					data-bs-toggle="dropdown" aria-expanded="false"
					th:text="${usuario.username}">USERNAME</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item"
						th:href="@{/app/perfil(id=${usuario.idusuario})}"><i
							class="bi bi-person-workspace me-2"></i>Perfil </a></li>
					<li><a class="dropdown-item" th:href="@{/app/chats}"><i
							class="bi bi-chat-fill me-2"></i>Chats</a></li>
					<li><a class="dropdown-item" th:href="@{/app/amigos}"><i
							class="bi bi-people-fill me-2"></i>Amigos</a></li>
					<li id="ajustes"
						th:if="${#strings.equals(#authentication.name,usuario.username)}"><a
						class="dropdown-item" th:href="@{/app/updateUsuario}"><i
							class="bi bi-gear-fill me-2"></i>Ajustes</a></li>
					<li><a class="dropdown-item text-danger" href="#"
						onclick="javascipt:document.getElementById('formLogout').submit()"><i
							class="bi bi-door-closed-fill me-2"></i>Cerrar sesión </a></li>
				</ul>
			</div>
			<div
				class="d-flex col-12 col-sm-8 col-md-5 col-lg-3 order-md-1 mx-auto gap-3 pt-3 pt-md-0 align-items-center justify-content-center">
				<div id="search-icon-container" class="col-1 text-white fs-4">
					<i id="search-icon" class="bi bi-search" role="img"></i>
				</div>
				<div class="col-7 col-lg-10">
					<input class="form-control col-12 border border-2 rounded shadow"
						id="searcher" type="search" placeholder="Usuarios..."
						list="listUsers" />
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row my-3">
			<div id="solicitudes-container" class="col-12 col-md-6">
				<div class="row align-items-center justify-content-center my-2">
					<button id="btn-solicitudes" type="button"
						class="btn btn-outline-primary d-flex justify-content-between col-8">
						<div class="col-10 fs-4 display-6">Solicitudes</div>
						<div id="nSolicitudes"
							th:text="${#lists.isEmpty(solicitudes)? '0' : #lists.size(solicitudes)}"
							class="badge bg-info col-2 fs-6">5</div>
					</button>
				</div>

				<ul id="infoSolicitudes" class="list-group list-group mt-3 shadow">
					<li class="list-unstyled" th:if="${#lists.isEmpty(solicitudes)}"><div
							class="alert alert-info text-center col-12  mb-2 ">
							<i class="bi bi-exclamation-diamond me-2"></i>No tienes
							solicitudes
						</div></li>
					<li class="list-group-item list-group-item-action"
						th:each="solicitud : ${solicitudes}">
						<div
							class="d-flex justify-content-between align-items-center gap-2">
							<div class="col-2 text-center">
								<a th:href="@{/app/perfil(id=${solicitud.amigo2.idusuario})}"><img
									id="imagenAutor" class="border border-dark rounded-circle"
									th:if="${#strings.contains(solicitud.amigo2.foto,'jpg') or #strings.contains(solicitud.amigo2.foto,'png') or #strings.contains(solicitud.amigo2.foto,'jpeg')}"
									th:src="${solicitud.amigo2.foto}"> <img id="imagenAutor"
									class="rounded-circle"
									th:unless="${#strings.contains(solicitud.amigo2.foto,'jpg') or #strings.contains(solicitud.amigo2.foto,'png') or #strings.contains(solicitud.amigo2.foto,'jpeg')}"
									th:src="@{/images/fotoex.jpg}"></a>
							</div>
							<div class="col-6 linkSolicitudPerfil">
								<input type="hidden" th:value="${solicitud.amigo2.idusuario}" />
								<div class="display-5 fs-3 pb-2"
									th:text="${solicitud.amigo2.username}"></div>
								<div id="nombre" class="display-6 fs-6"
									th:text="${solicitud.amigo2.nombre}"></div>
							</div>
							<div
								class="col-4 d-flex gap-1 justify-content-center align-items-center">
								<form method="post"
									th:action="@{/app/crearAmistad/{idA}(idA=${solicitud.amigo2.idusuario})}">
									<button type="submit" class="btn btn-success">
										<i class="bi bi-patch-check"></i>
									</button>
								</form>
								<button class="btn btn-danger btnBorrarSolicitud"
									data-bs-toggle="modal" data-bs-target="#modalSolicitud">
									<i class="bi bi-x-octagon"></i>
								</button>
								<input type="hidden" th:value="${solicitud.amigo2.idusuario}">
							</div>
						</div>
					</li>
					<li class="list-group-item text-center"><button
							id="btn-cerrar-solicitudes"
							class="btn btn-outline-secondary col-6">Cerrar
							solicitudes</button></li>
				</ul>
			</div>
			<div id="amigos-container" class="col-12 col-md-6">
				<div class="row align-items-center justify-content-center my-2">
					<div id="btn-amigos"
						class="btn btn-outline-primary d-flex justify-content-between col-8">
						<div class="col-10 fs-4 display-6">Amistades</div>
						<div id="nAmigos"
							th:text="${#lists.isEmpty(amigos)? '0' : #lists.size(amigos)}"
							class="badge bg-info col-2 fs-6">5</div>
					</div>
					<ul id="infoAmigos" class="list-group list-group mt-3 pe-0 shadow">
						<li class="list-unstyled"
							th:if="${#lists.isEmpty(amigos) and !isRest}"><div
								class="alert alert-info text-center col-12 mb-2">
								<i class="bi bi-exclamation-diamond me-2"></i>Aún no tienes
								amigos
							</div></li>
						<li class="list-unstyled"
							th:if="${#lists.isEmpty(amigos) and isRest}"><div
								class="alert alert-warning text-center col-12 mb-2">
								<i class="bi bi-exclamation-diamond me-2"></i>No hay amigos con
								Nickname similar
							</div></li>
						<li class="list-group-item d-flex">
							<div id="search-icon-container">
								<i id="search-icon" class="bi bi-search me-3 fs-3" role="img"></i>
							</div>
							<input id="amigos-searcher" type="text" class="form-control"
							placeholder="Presiona Enter para buscar">
						</li>
						<li id="amigos-list"
							class="list-group-item list-group-item-action"
							th:each="amigo : ${amigos}">
							<div
								class="d-flex justify-content-between align-items-center gap-2">
								<div class="col-2 text-center">
									<a th:href="@{/app/perfil(id=${amigo.amigo2.idusuario})}"><img
										id="imagenAutor" class="border border-dark rounded-circle"
										th:if="${#strings.contains(amigo.amigo2.foto,'jpg') or #strings.contains(amigo.amigo2.foto,'png') or #strings.contains(amigo.amigo2.foto,'jpeg')}"
										th:src="${amigo.amigo2.foto}"> <img id="imagenAutor"
										class="rounded-circle"
										th:unless="${#strings.contains(amigo.amigo2.foto,'jpg') or #strings.contains(amigo.amigo2.foto,'png') or #strings.contains(amigo.amigo2.foto,'jpeg')}"
										th:src="@{/images/fotoex.jpg}"></a>
								</div>
								<div class="col-6 linkPerfilAmigo">
									<input type="hidden" th:value="${amigo.amigo2.idusuario}" />
									<div class="display-5 fs-3 pb-2"
										th:text="${amigo.amigo2.username}"></div>
									<div id="nombre" class="display-6 fs-6"
										th:text="${amigo.amigo2.nombre}"></div>
								</div>
								<div
									class="col-4 d-flex gap-1 justify-content-center align-items-center">
									<a class="btn btn-primary" th:href="@{/app/chat/{id}(id=${amigo.amigo2.idusuario})}"> <i class="bi bi-send"></i>
									</a>
									<button class="btn btn-danger btnBorrarAmigo"
										data-bs-toggle="modal" data-bs-target="#modalAmigo">
										<i class="bi bi-person-dash"></i>
									</button>
									<input type="hidden" th:value="${amigo.amigo2.idusuario}">
								</div>
							</div>
						</li>
						<li class="list-group-item text-center"><button
								id="btn-cerrar-amigos" class="btn btn-outline-secondary col-6">Cerrar
								amistades</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<footer class="container-fluid bg-info">
		<div
			class="row col-12 col-lg-6 d-flex justify-content-center mx-auto mt-5 py-2">
			<div
				class="col-5 col-lg-4 d-flex align-items-center justify-content-center text-center">
				<div class="list-group" id="list-tab" role="tablist">
					<a class="list-group-item list-group-item-action" id="list-us-list"
						data-bs-toggle="list" href="#list-us" role="tab"
						aria-controls="us">Sobre Nosotros</a> <a
						class="list-group-item list-group-item-action"
						id="list-autor-list" data-bs-toggle="list" href="#list-autor"
						role="tab" aria-controls="autor">Autor</a> <a
						class="list-group-item list-group-item-action active"
						id="list-copy-list" data-bs-toggle="list" href="#list-copy"
						role="tab" aria-controls="copy">Copyright</a>
				</div>
			</div>
			<div
				class="col-7 col-lg-8 d-flex align-items-center justify-content-center">
				<div class="tab-content" id="list-nav-tabContent">
					<div class="tab-pane fade" id="list-us" role="tabpanel"
						aria-labelledby="list-us-list">
						<strong>TomoList</strong>, está desarrollada para ser una red
						social, tiene como planteamiento principal ser una app <strong>intuitiva,
							atractiva y divertida</strong> darles la capacidad a los usuarios de
						interactuar unos con otros.
					</div>
					<div class="tab-pane fade" id="list-autor" role="tabpanel"
						aria-labelledby="list-autor-list">
						Unai González Sánchez, <strong>Full Stack Developer Web</strong>
					</div>
					<div class="tab-pane fade show active" id="list-copy"
						role="tabpanel" aria-labelledby="list-copy-list">
						<strong>© 2020-2021</strong> / TomoList / <strong>No
							rights reserved</strong>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div id="modalSolicitud" class="modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalVerticallyCenteredLabel">Eliminando
						solicitud...</h5>
					<button type="button" data-bs-dismiss="modal" class="btn-close"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">¿Estás seguro que quieres eliminar la
					solicitud?</div>
				<div class="modal-footer">
					<button type="button" data-bs-dismiss="modal"
						class="btn btn-secondary">Close</button>
					<form id="borrarSolicitudForm" method="post">
						<button id="btnModalBorrarSolicitud" type="submit"
							class="btn btn-danger">
							<i class="bi bi-trash me-1"></i>Borrar solicitud
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="modalAmigo" class="modal" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalVerticallyCenteredLabel">Eliminando
						amistad...</h5>
					<button type="button" data-bs-dismiss="modal" class="btn-close"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">¿Estás seguro que quieres eliminar la
					amistad?</div>
				<div class="modal-footer">
					<button type="button" data-bs-dismiss="modal"
						class="btn btn-secondary">Close</button>
					<form id="borrarAmigoForm" method="post">
						<button id="btnModalBorrarAmigo" type="submit"
							class="btn btn-danger">
							<i class="bi bi-trash me-1"></i>Borrar amistad
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<datalist id="listUsers">
	</datalist>

	<input id="idu" type="hidden" th:value="${usuario.idusuario}" />
	<form id="formLogout" method="post" th:action="@{/logout}"></form>
</body>
</html>