<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<title>Tomo Chat</title>
<link rel="icon" th:href="@{/images/LogoTomo.png}" type="image/x-icon">
<link rel="stylesheet" href="/styles/app/chatUsuario.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/app/chatUsuario.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
	<header class="container-fluid bg-gradient shadow-sm">
		<div
			class="d-flex row align-items-center  justify-content-between py-4">

			<div class="d-flex col-4 col-md-3 col-lg-2 ps-1 align-items-center">
				<div class="img">
					<a th:href="@{/app/home}"><img id="logo"
						th:src="@{/images/LogoTomoList.png}" height="50px" width="105px"
						alt="img-thumbnail"></a>
				</div>

			</div>


			<div
				class="btn-group col-8 col-sm-5 col-md-4 col-lg-3 col-xxl-2 order-md-2 gap-1">
				<div id="card-header"
					class="d-flex me-1 float-end justify-content-end">
					<img id="img_header" class="border rounded-circle"
						th:if="${#strings.contains(usuario.foto,'jpg') or #strings.contains(usuario.foto,'png') or #strings.contains(usuario.foto,'jpeg')}"
						th:src="${usuario.foto}"> <img id="img_header"
						class="border rounded-circle"
						th:unless="${#strings.contains(usuario.foto,'jpg') or #strings.contains(usuario.foto,'png') or #strings.contains(usuario.foto,'jpeg')}"
						th:src="@{/images/fotoex.jpg}">
				</div>
				<button id="btn_header" type="button"
					class="btn btn-pimary border border-1 rounded text-light dropdown-toggle"
					data-bs-toggle="dropdown" aria-expanded="false"
					th:text="${usuario.username}">USERNAME</button>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a class="dropdown-item"
						th:href="@{/app/perfil(id=${usuario.idusuario})}"><i
							class="bi bi-person-workspace me-2"></i>Perfil </a></li>
					<li><a class="dropdown-item" th:href="@{/app/chats}"><i
							class="bi bi-chat-fill me-2"></i>Chats</a></li>
					<li><a class="dropdown-item" th:href="@{/app/amigos}"><i
							class="bi bi-people-fill me-2"></i>Amigos</a></li>
					<li id="ajustes"
						th:if="${#strings.equals(#authentication.name,usuario.username)}"><a
						class="dropdown-item" th:href="@{/app/updateUsuario}"><i
							class="bi bi-gear-fill me-2"></i>Ajustes</a></li>
					<li><a class="dropdown-item text-danger" href="#"
						onclick="javascipt:document.getElementById('formLogout').submit()"><i
							class="bi bi-door-closed-fill me-2"></i>Cerrar sesión </a></li>
				</ul>
			</div>
			<div
				class="d-flex col-12 col-sm-8 col-md-5 col-lg-3 order-md-1 mx-auto gap-3 pt-3 pt-md-0 align-items-center justify-content-center">
				<div id="search-icon-container" class="col-1 text-white fs-4">
					<i id="search-icon" class="bi bi-search" role="img"></i>
				</div>
				<div class="col-7 col-lg-10">
					<input class="form-control col-12 border border-2 rounded shadow"
						id="searcher" type="search" placeholder="Usuarios..."
						list="listUsers" />
				</div>
			</div>
		</div>
	</header>

	<div class="container my-3 my-md-5">
		<div class="row">
			<div id="chat-container" class="border border-dark">
				<div id="chat-header">
					<div class="imagenReceptor-container">
						<img id="imagenReceptor" class="border border-dark rounded-circle"
							th:if="${#strings.contains(usuarioReceptor,'jpg') or
						#strings.contains(usuarioReceptor.foto,'png') or
						#strings.contains(usuarioReceptor.foto,'jpeg')}"
							th:src="${usuarioReceptor.foto}"> <img id="imagenAutor"
							class="border border-dark rounded-circle"
							th:unless="${#strings.contains(usuarioReceptor.foto,'jpg') or #strings.contains(usuarioReceptor.foto,'png') or #strings.contains(usuarioReceptor.foto,'jpeg')}"
							th:src="@{/images/fotoex.jpg}">
					</div>
					<div th:text="${usuarioReceptor.nombre}"></div>
				</div>
				<div id="chat-body">
					
				</div>
				<div id="chat-input"></div>
			</div>
		</div>
	</div>


	<datalist id="listUsers">
	</datalist>

	<input id="idu" type="hidden" th:value="${usuario.idusuario}" />
	<input id="username" type="hidden" th:value="${usuario.username}" />
	<form id="formLogout" method="post" th:action="@{/logout}"></form>
</body>
</html>