<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="'Perfil de '+${usuarioPerfil.username}">Home</title>
    <link rel="stylesheet" href="/styles/app/perfil.css">
</head>

<body>
    <header>
        <h1 th:text="${usuarioPerfil.username}"></h1>
        <h2 th:text="${usuarioPerfil.nombre}"></h2>
        <input id="searchbar" type="text" placeholder="Searcher">
        <p><a onclick="javascript:document.getElementById('formLogout').submit()">Cerrar sesion</a></p>
    </header>

    <div id="banner">
        <div>
            <figure>
                <img>
                <figcaption></figcaption>
            </figure>
        </div>

        <nav id="navbar">

            <div>Entradas</div>
            <div>Mensajes</div>
        </nav>
    </div>



    <form id="formLogout" method="post" th:action="@{/logout}"></form>
</body>

</html>